<div class="jumbotron">
	<h1>Hello, Atom!</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ducimus, iste excepturi tempore quis blanditiis. Sint repudiandae quod quaerat, blanditiis libero amet sapiente perferendis neque molestias exercitationem expedita asperiores odit distinctio dignissimos ipsa consequuntur provident, non ipsum mollitia. Iusto, cum voluptates deleniti voluptas. Nam ab harum pariatur similique laudantium unde.
	</p>
	<p>
		<a href="#/register" class="btn btn-primary btn-lg" role="button">Create Account &raquo;</a>
	</p>
</div>
